.demo {
    background: #dfdfdf;
    margin: 10px 0;
    padding-left: 50rem;
    white-space: nowrap;

    .box{
        display: inline-block;
        margin-right: 10px;
        width: 200px;
        height: 200px;
        text-align: center;
        line-height: 150px;
        font-size: 24px;
        background: #acacac;

    }
}