[scrollbar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;

    // container
    .scrollbar-container {
        overflow: hidden;
        width: inherit;
        height: inherit;
        max-width: inherit;
        max-height: inherit;
    
        // mask
        .scrollbar-mask {
            direction: inherit;
            position: absolute;
            overflow: hidden;
            padding: 0;
            margin: 0;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: auto !important;
            height: auto !important;
            z-index: 0;
    
            // offset
            .scrollbar-offset {
                direction: inherit !important;
                box-sizing: inherit !important;
                resize: none !important;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 0;
                margin: 0;
                -webkit-overflow-scrolling: touch;
    
                // content
                .scrollbar-content {
                    direction: inherit;
                    box-sizing: border-box !important;
                    position: relative;
                    display: block;
                    height: 100%;
                    width: auto;
                    visibility: visible;
                    overflow: scroll;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    
    // trackbar
    .scrollbar-trackbar {
        z-index: 1;
        position: absolute;
        right: 0;
        bottom: 0;

        &.scrollbar-vertical {
            top: 0;
            width: 11px;

            .scrollbar-bar:before {
                top: 2px;
                bottom: 2px;
            }
        }

        &.scrollbar-horizontal {
            left: 0;
            height: 11px;

            .scrollbar-bar {
                right: auto;
                left: 0;
                top: 2px;
                height: 80%;
                min-height: 0;
                width: auto;

                &:before {
                    height: 100%;
                    left: 2px;
                    right: 2px;
                }
            }
        }

        // bar
        &.scrollbar-vertical .scrollbar-bar:before {
            top: 2px;
            bottom: 2px;
        }

        .scrollbar-bar {
            position: absolute;
            right: 2px;
            width: 50%;

            &:before {
                position: absolute;
                content: "";
                background-color: #8e8e8e;
                border-radius: 5px;
                left: 0;
                right: 0;
                opacity: 0;
                transition: opacity 0.2s linear;
            }

            &.scrollbar-visible:before {
                opacity: 0.4;
                transition: opacity 0s linear;
            }
        }
    }
}
